*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #31A193 0%,
        #31A193 15%,
        #E1E0D7 15%,
        #E1E0D7 100%

    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 80%;
    min-width: 900px;
    height: 95%;;
}

.nav {
    flex-basis: 35%;
    background: #fff
}

.content {
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
    background: #eee;
}

.content-header,
.content-footer {
    height: 50px;
    background: #EDEDED;
}

/* LEFT SIDE CONTENT */
/* nav header */
.nav {
    display: flex;
    flex-direction: column;
}

.nav .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background: #EDEDED;
}

.nav-header .profile {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.nav-header .profile img {
    height: 37px;
    margin-right: 10px;
    border-radius: 50%;
}

.nav-header .profile span {
    font-size: 14px;
}

.nav .icons-nav a {
    text-decoration: none;
    color: #BABABA;
    margin-right: 15px;
}

.nav .notifiche {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 65px;
    background: #A2DFFE;
}

.notifiche .notifiche-icon {
    width: 37px;
    height: 37px;
    margin-right: 10px;
    text-align: center;
    background: #F5FCFF;
    border-radius: 50%;
}

.notifiche .notifiche-icon i {
    color: #A2DFFE;
    line-height: 2.2;
}

.notifiche .notifiche-icon-text p {
    font-size: 14px;
}

.notifiche .notifiche-icon-text a {
    font-size: 12px;
    color:#719AB0;
}

/* search */
.friends-nav .search {
    display: flex;
    align-items: center;
    background: #FBFBFB;
    padding: 5px;
}

.friends-nav .search .search-btn {
    height: 32px;
    padding: 0 30px;
    background: #FFFFFF;
    border: 1px solid #F7F7F7;
    outline: none;
    cursor: pointer;
}

.friends-nav .search .search-btn:focus{
    background: #DEDFDE;
}


.friends-nav .search .search-btn i {
    color: #BFC1C3;
}

.friends-nav .search .search-btn:focus i {
    color:#F7F7F7;
}

.friends-nav .search input {
    flex-grow: 1;
    height: 32px;
    padding: 10px;
    color: #A5A5A5;
    border: 1px solid #F7F7F7;
    border-left: 0;
    border-radius: 2px;
    outline: none;
    transition: box-shadow .1s;
}

.friends-nav .search input:focus {
    box-shadow: 0px 0px 5px 0px #34B7F1;
}

/* Contatti */
.contacts-list .contact {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border-bottom: 1px solid #F8F8F8;
    cursor: pointer;
    transition: background .1s;
}

.contacts-list .contact:hover {
    background: #F7F7F7;
}

.contacts-list .contact:last-child {
    border-bottom: 0;
}

.contacts-list .contact img {
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.contacts-list .contact span {
    font-size: 14px;
}

/* RIGHT SIDE CONTENT */
/* content header */
.content .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-left: 1px solid #DEDFDE;
}

.left-header {
    display: flex;
    align-items: center;
}

.left-header .friend-photo img {
    height: 37px;
    margin-right: 10px;
    border-radius: 50%;
}

.left-header p:first-child {
    font-size: 14px;
}

.left-header p:last-child {
    font-size: 12px;
    font-weight: 700;
    color: #8D9295;
}


.content-header .right-header a {
    text-decoration: none;
    color: #BABABA;
    margin-right: 15px;
}

/* content main */
.content .content-main {
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    background-size: 400px 200px;
    overflow-y: auto;
}

/* content footer */
.content-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F5F1ED;
}

.content-footer .footer-message {
    flex-grow: 1;
    height: 70%;
    padding: 10px;
    color: #A5A5A5;
    border: none;
    border-radius: 3px;
    outline: none;
    transition: box-shadow .1s; 
}

.content-footer .footer-message:focus {
    box-shadow: 0px 0px 5px 0px #34B7F1;
}

.content-footer i {
    font-size: 18px;
    padding: 0 25px;
    color:#777E81;
}


