*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #31A193 0%,
        #31A193 15%,
        #E1E0D7 15%,
        #E1E0D7 100%

    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 80%;
    min-width: 900px;
    height: 95%;;
}

.nav {
    flex-basis: 35%;
    background: #fff
}

.content {
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
    background: #eee;
}

.content-header,
.content-footer {
    height: 50px;
    background: #EDEDED;
}

/* content header */
.content .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.left-header {
    display: flex;
    align-items: center;
}

.left-header .friend-photo img {
    height: 37px;
    margin-right: 10px;
    border-radius: 50%;
    background: #F4F4F4;
}

.left-header p:first-child {
    font-size: 14px;
}

.left-header p:last-child {
    font-size: 12px;
    color: #8D9295;
}


.content-header .right-header a {
    text-decoration: none;
    color: #BABABA;
    margin-right: 15px;
}

/* content main */
.content .content-main {
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    background-size: 400px 200px;
    overflow-y: auto;
}

/* content footer */
.content-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F5F1ED;
}

.content-footer .footer-message {
    flex-grow: 1;
    height: 70%;
    padding: 10px;
    color: #A5A5A5;
    border: none;
    border-radius: 3px;
    outline: none;
    transition: box-shadow .1s; 
}

.content-footer .footer-message:focus,
.content-footer .footer-message:hover {
    box-shadow: 0px 0px 5px 2px #34B7F1;
}

.content-footer i {
    padding: 0 25px;
    color:#777E81;
}


