<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's up</title>
    <!-- Vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="./CSS/main.css">
</head>
<body>
    
    <div id="app" class="container">
        <!-- left side nav -->
        <aside class="nav">
            <header class="nav-header">
                <div class="profile">
                    <img src="./img/avatar_io.jpg" alt="user photo">
                    <span> Nome utente</span>
                </div>
                <div class="icons-nav">
                    <a href="#">
                        <i class="fas fa-circle-notch"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-comment-alt"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-ellipsis-v"></i>
                    </a>
                </div>

            </header>
            <!-- Notifiche -->
            <div class="notifiche">
                <div class="notifiche-icon">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div class="notifiche-icon-text">
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <a href="#">
                        Attiva notifiche desktop
                    </a>
                </div>
            </div>
            <!-- search bar and friends -->
            <nav class="friends-nav">
                <!-- search -->
                <div class="search">
                    <button class="search-btn">
                        <i class="fas fa-search"></i>
                    </button>
                    <input type="search" placeholder="Cerca o inizia una nuova chat">
                </div>
                <!-- Contacts-->
                <div class="contacts-list">
                    <ul class="">
                        <li 
                        @click="onSelectConversation(index)"
                        class ="contact"
                        :class="{active: index == indexOfFriend}"
                        v-for="(friend,index) in friends" 
                        :key="index + '-' + friend.name">

                            <img :src="`./img/avatar${friend.avatar}.jpg`" :alt="friend.name">
                            <span>{{friend.name}}</span>

                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
        <!-- right side content -->
        <main class="content">
            <header class="content-header">

                <div class="left-header" >
                    <div class="friend-photo" >
                        <img  :src="`./img/avatar${friends[indexOfFriend].avatar}.jpg`" alt="user-friend">
                    </div>
                    <div class="friend-photo-def">
                        <p>{{friends[indexOfFriend].name}}</p>
                        <p>Ultimo accesso oggi alle 10:35</p>
                    </div>
                </div>

                <div class="right-header">
                    <a href="#">
                        <i class="fas fa-search"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-paperclip"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-ellipsis-v"></i>
                    </a>
                </div>

            </header>
            <main class="content-main">                

                <div v-for="(item,index) in friends[indexOfFriend].messages" class="msg"
                :class="{'msg-right': item.status === 'sent'}">
        
                    <div :class="[{'received': item.status === 'received'}, 'send' ]">
                        <p>{{item.message}}</p>
                        <div class="time-msg">
                            <span>{{item.date}}</span>
                        </div>
                    </div>
                </div>                          
            </main>           
            <footer class="content-footer">
                <a href="#">
                    <i class="far fa-laugh-squint"></i>
                </a> 
    
                <input class="footer-message" type="text" placeholder="Write a message" v-model="newText" @keyup.enter ="newMessage" ref="newText">
    
                <a href="#">
                    <i class="fas fa-microphone-alt"></i>
                </a> 
                
    
            </footer>
        </main>

    </div>

    <!-- JS -->
    <!-- day js -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/dayjs.min.js"></script>
    <script src="./JS/contatti.js"></script>
</body>
</html>